package views

import "gojob/views/components"
import "gojob/views/layout"

templ Main() {
    @layout.Layout(layout.LayoutProps{
        Title: "Find your dream job",
        MetaDescription: "Website for finding best job",
    }) {
        <main>
            @layout.Header() {
            @components.Title("Find your dream job")
            @components.SubTitle("Simple search for dream jobs")
            }
            Main
        </main>
    }

}